.navbar {  
    border-bottom: 1px solid #1f2833;  
  }  
  #navText {  
    font-family: 'Acme', sans-serif;  
    font-size: 28px;
    
  } 

#signin{
  background-color: #3A3D63;  
  color: white;  
  width: 135px;  
  height: 50px;  
  border: none;  
  border-radius: 5px;  
  transition: background-color 0.3s ease; 
}
#signin:hover{
    background-color: #484a64;  
    color: white;  
    width: 135px;  
    height: 50px;  
    border: none;  
    border-radius: 5px;  
    transition: background-color 0.3s ease; 
  }
  #login{
    background-color: #475CF9;  
    color: white;  
    width: 135px;  
    height: 50px;  
    border: none;  
    border-radius: 5px;  
    transition: background-color 0.3s ease; 
  }
  #login:hover{
      background-color: #6474f0;  
      color: white;  
      width: 135px;  
      height: 50px;  
      border: none;  
      border-radius: 5px;  
      transition: background-color 0.3s ease; 
    }
    .background-container {  
        display: flex;  
        flex-direction: column;  
        height: 100vh; 
      }   
      #img3 {  
        display: block;  
        margin-left: auto;  
        margin-right: auto;  
    }  
      .background-image {  
        background-image: url('../../assets/images/bg1.jpeg');  
        background-size: cover;  
        background-position: center;  
        height: 50%; 
        opacity: 0.8;
        
    }  
    
    .background-color {  
      background: linear-gradient(#13112E, #2A2750 );  
      height: 50%;  
    }
    #CenterText1 {  
    font-family: 'Acme', sans-serif;  
    color: white;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 20%;  
    text-align: center; 
    margin-top: 20px; 
    } 

    #CenterText2 {  
        font-family: 'Acme', sans-serif;  
        color: white;  
        display: flex;  
        justify-content: center;  
        align-items: center;  
        height: 20%;  
        text-align: center;  
        margin-top: 20px;
        margin-bottom: -60px;
    } 
    #CenterText3 {  
        font-family: 'Acme', sans-serif;  
        color: white;  
        display: flex;  
        justify-content: center;  
        align-items: center;  
        height: 20%;  
        text-align: center;  
    } 
    #CenterText4, #CenterText5, #CenterText6 {  
        font-family: 'Acme', sans-serif;  
        color: white;  
        display: flex;  
        justify-content: center;  
        align-items: center;  
        height: 200px; /* Ajusta según sea necesario */  
        text-align: center;  
        border: 1px solid #C55CF2;  
        margin: 40px 1px 2px 10px;  
        padding: 20px;  
        border-radius: 15px;
        margin-top: 20px;  
        margin-bottom: 20px;  
        text-align: center;  

        
      } 
      #img5{
        background-position:left;  
         
        background-repeat: no-repeat;
        width: 294px;
        height: 198px;
        margin-left: -170px;
        margin-bottom: -350px;
      }
      #img4 {  
        
        background-position:left;  
         
        background-repeat: no-repeat;
        width: 371px;
        height: 228px;
        margin-left: -170px;
        margin-bottom: -350px;
      }
      #img2 {  
        
        background-position:left;  
        background-repeat: no-repeat;
        width: 306px;
        height: 191px;
        margin-left: -170px;
        margin-bottom: -350px;
      }
      #line1 {
        width: 1024px;
        height: 4px;
        background-color: #C55CF2;
        position: relative;
        left: 0; 
        opacity: 0.5;
      }
      #line2 {
        width: 1024px;
        height: 4px;
        background-color: #C55CF2;
        position: absolute;
        right: 0; 
        opacity: 0.5;
      }