<nav class="navbar navbar-dark" style="background-color: #0E0D1F;">  
    <div class="container-fluid">  
      <a id="navText" class="navbar-brand" href="#">  
        
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="-700 -700 1900 900" width="46px" fill="#e8eaed"><path d="M480-80q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T120-440q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-800q75 0 140.5 28.5t114 77q48.5 48.5 77 114T840-440q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T480-80Zm0-360Zm112 168 56-56-128-128v-184h-80v216l152 152ZM224-866l56 56-170 170-56-56 170-170Zm512 0 170 170-56 56-170-170 56-56ZM480-160q117 0 198.5-81.5T760-440q0-117-81.5-198.5T480-720q-117 0-198.5 81.5T200-440q0 117 81.5 198.5T480-160Z"/></svg>
        Gamer Alarm  
      </a>  
      <div class="d-flex">  
        <button class="btn btn-secondary me-2" type="button" id="signin">Crear cuenta</button>  
        <button class="btn btn-primary" type="button" id="login">Iniciar sesión</button>  
      </div>  
    </div>  
  </nav> 
  <div class="background-container">  
    <div class="background-image">
        
        <h1 id="CenterText1"> Gaming Alarm, La alarma creada para gamers que
            buscan más.</h1>
            
            <div style="text-align: center;">  
                <img src="assets/images/img3.png" id="img3" width="1033px" height="525px" style="margin-bottom: 500px;">  
                
            </div>
               
    </div> 
    
    <div class="background-color">
        <div class="line" id="line1"></div>   
        <div class="col-lg-12" id="CenterText2">
            
            <h3> Configura recordatorios y convierte tus hábitos en una experiencia emocionante. No te pierdas partidas, torneos o eventos importantes, y gana recompensas mientras usas la app. </h3>
        </div>
        <div class="col-lg-12" id="CenterText3">
            <h3 > ¡Todo lo que necesitas para mantenerte al tanto y disfrutar de tus juegos!</h3>
            
        </div>  
        <div class="line" id="line2"></div>   
        <div class="row justify-content-center">  
          <div class="col-lg-2 mx-3" id="CenterText4">  
            <h3>Regístrate o inicia sesión para acceder a todas las funciones de Gaming Alarm.</h3>
          </div>
          
          <div class="col-lg-1"><img src="assets/images/img5.png" id="img5"> </div>  
          <div class="col-lg-2 mx-3" id="CenterText5">  
            <h3>¡Controla tu tiempo de juego como un verdadero gamer!</h3> 
         </div>
          <div class="col-lg-1"><img src="assets/images/img4.png" id="img4">  </div>    
          <div class="col-lg-2 mx-3" id="CenterText6">  
            <h3>Personaliza tus alarmas, sigue tus logros y desbloquea recompensas exclusivas.</h3> 
             
          </div> 
          <div class="col-lg-1"><img src="assets/images/img2.png" id="img2">  </div>  
        </div>  
      </div>  
    
  </div>  

  