<nav class="navbar navbar-dark" style="background-color: #0E0D1F;">  
    <div class="container-fluid">  
      <a id="navText" class="navbar-brand" href="#" style="margin-top:5px">  
        
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="-700 -700 1900 900" width="46px" fill="#e8eaed"><path d="M480-80q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T120-440q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-800q75 0 140.5 28.5t114 77q48.5 48.5 77 114T840-440q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T480-80Zm0-360Zm112 168 56-56-128-128v-184h-80v216l152 152ZM224-866l56 56-170 170-56-56 170-170Zm512 0 170 170-56 56-170-170 56-56ZM480-160q117 0 198.5-81.5T760-440q0-117-81.5-198.5T480-720q-117 0-198.5 81.5T200-440q0 117 81.5 198.5T480-160Z"/></svg>
        Gamer Alarm  
      </a>  
      <div class="d-flex">  
        <button class="btn btn-secondary me-2" type="button" id="signin">Recompensas</button>  
        <button class="btn btn-primary" type="button" id="login" data-bs-toggle="modal" data-bs-target="#loginModal">Usuario</button>  
        <img style="width: 36px; height:36px; margin-top:5px" src="assets/images/avatar.png">
      </div>  
    </div>  
  </nav> 
  <div class="background-container">  
    <div class="background-image">
        
        <h1 id="CenterText1"> 11:24:00</h1>
        <h1 id="CenterText2"> 16 de Septiembre de 2024</h1>    
           
               
    </div> 
    
    <div class="background-color">
        <div class="line" id="line1"></div>
          
          <div class="row">
            <div class="col-lg-8">
              
              <div class="container mt-3">
                <button class="btn btn-secondary me-2" type="button" id="newalarm">Crear alarma</button>  
                           
                <table class="table table-bordered custom-table" id="tabla1">
                  <thead>
                    <tr>
                      <th>HORA</th>
                      <th>DÍA</th>
                      <th>ETIQUETA</th>
                      <th>TONO</th>
                      <th>ACCIÓN</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>3:00 AM</td>
                      <td>Todos los días</td>
                      <td>Cielos 3 de la mañana, ñam ñam ñam</td>
                      <td>Patricio.mp3</td>
                      <td><img style="width: 36px; height:36px; margin-right: 15px;" src="assets/images/lapiz-de-grafito.png"><img style="width: 36px; height:36px; margin-right: 15px; " src="assets/images/ojo.png"><img style="width: 36px; height:36px; margin-right: -55px;" src="assets/images/basura.png"></td>
                    </tr>
                    <tr>
                      <td>11:20 PM</td>
                      <td>24 de agosto</td>
                      <td>Cita con el dentista</td>
                      <td>Campana</td>
                      <td><img style="width: 36px; height:36px; margin-right: 15px;" src="assets/images/lapiz-de-grafito.png"><img style="width: 36px; height:36px; margin-right: 15px; " src="assets/images/ojo.png"><img style="width: 36px; height:36px; margin-right: -55px;" src="assets/images/basura.png"></td>
                    </tr>
                    <tr>
                      <td>12:00 PM</td>
                      <td>25 de octubre</td>
                      <td>Estreno: Call of duty black ops 6</td>
                      <td>Call_of_duty.mp3</td>
                      <td><img style="width: 36px; height:36px; margin-right: 15px;" src="assets/images/lapiz-de-grafito.png"><img style="width: 36px; height:36px; margin-right: 15px; " src="assets/images/ojo.png"><img style="width: 36px; height:36px; margin-right: -55px;" src="assets/images/basura.png"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
             
            </div>
            <div class="col-lg-4">
              
              <div class="container mt-3">
                <h2 id="noticias">Próximos lanzamientos gaming</h2>
                <div class="newbgcolor2">
                
                  <div class="card mb-3 custom-card">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/images/juego1.png" class="img-fluid rounded-start" alt="Call of duty black ops 6">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Call of duty black ops 6</h5>
                          <p class="card-text">
                            <strong>Fecha de estreno:</strong> 25 de octubre de 2024 - 12:00pm pt<br>
                            <strong>Plataformas:</strong> Ps5, Ps4, Xbox series X|S, Xbox one, PC<br>
                            <strong>Género:</strong> Disparos en primera persona
                          </p>
                          <a href="#" class="btn btn-primary">Crear alarma</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mb-3 custom-card">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/images/juego2.png" class="img-fluid rounded-start" alt="Call of duty black ops 6">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Indiana Jones y el Gran Círculo</h5>
                          <p class="card-text">
                            <strong>Fecha de estreno:</strong> 6 de diciembre de 2024 - 12:00pm pt<br>
                            <strong>Plataformas:</strong> Xbox series X|S, PC<br>
                            <strong>Género:</strong> Acción y aventura
                          </p>
                          <a href="#" class="btn btn-primary">Crear alarma</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  
              </div>
              </div>
            </div>
          
        </div>   
    </div>
  </div>